html,body {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 10px;
  overflow: hidden;
}

html,body,body * {
  margin: 0;
  padding: 0;
  border: 0;
}

#root .snowstorm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

#root .snowflake {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: black;
}
